﻿@model prjToDoList_Excise1.Models.ViewModel.TodoViewModel

@{
    ViewBag.Title = "待辦清單管理系統";
}

<h2>待辦清單管理系統</h2>

<script>

    var todolistUrl = "http://localhost:50995/Home/TodoListApi";
    var getContentUrl = "http://localhost:50995/Home/GetConentApi";
    var delItemUrl = "http://localhost:50995/Home/DelItemApi";
    var createItemUrl = "http://localhost:50995/Home/CreateItemApi"
    var editItemUrl = "http://localhost:50995/Home/EditItemApi"

    var itemPerPage = 5;
    var totalPages;
    var nowPage;
    var totalItems;

    $(document).ready(function () {

        loadList();

        $("#btnDel").on("click", delItem);
        $("#btnCreate").on("click", createItem);
        $("#btnEdit").on("click", editItem);

        $("#showToDoList").on("click", ".select-btn", function () {
            getContent($(this).data("id"));
        });

        $("#showToDoList").on("click", ".delete-btn", function () {
            delItem($(this).data("id"));
        });
    });

    function loadList(curPage = 1) {

        $("#showToDoList").empty();

        $.ajax({

            url: todolistUrl + encodeURI("?curPage=" + curPage),
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {

                totalPages = data.totalPages;
                nowPage = data.curPage;
                totalItems = data.totalItems;

                var todoList = data.toDoListModelViews;

                for (let i = 0; i < todoList.length; i++) {
                    $("#showToDoList").append(

                        "<tr><td>" + (data.curItem + i) + "</td>" +
                        "<td>" + todoList[i].Content + "</td>" +
                        "<td>" + todoList[i].UpdatedAt + "</td>" +
                        "<td>" + todoList[i].Completed + "</td>" +
                        "<td><input type='button' value='選取' data-id='" + todoList[i].ID + "' class='btn btn-primary select-btn'></td>" +
                        "<td><input type='button' value='刪除' data-id='" + todoList[i].ID + "' class='btn btn-danger delete-btn'></td>" + 
                        "</tr>"                        
                    );
                }                

                loadPagerIndex();
            }
        });
    }

    function getContent(id) {

        validateInput();

        var params = "?id=" + id;

        $.ajax({

            url: getContentUrl + encodeURI(params),
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {

                $("#toDoId").val(data.ID);
                $("#Content").val(data.Content);
                $("#UpdatedAt").val(data.UpdatedAt);
                $("#Completed").prop("checked", data.Completed);
            }
        });

        $("#contentValMsg").html("");
        $("#updatedAtValMsg").html("");
    }

    function delItem(id) {

        var params = "?id=" + id;

        $.ajax({

            url: delItemUrl + encodeURI(params),
            type: 'POST',
            success: function (data) {

                if (data == 0) {
                    alert("刪除失敗");
                }
                else {
                    alert("刪除成功");
                    clearInput();

                    if (nowPage == totalPages) {

                        if ((totalItems - 1) % itemPerPage == 0) {
                            loadList(totalPages - 1);
                        } else {
                            loadList(totalPages);
                        }
                    } else {

                        loadList(nowPage);
                    }
                }
            }
        });
    }

    function createItem() {

        if (validateInput() == 0) return;

        var params = "?Content=" + $("#Content").val()
            + "&UpdatedAt=" + $("#UpdatedAt").val()
            + "&Completed=" + $("#Completed").prop("checked");

        $.ajax({

            url: createItemUrl + encodeURI(params),
            type: 'POST',
            success: function (data) {         

                if (data == 0) {
                    alert("新增失敗");
                }
                else {
                    alert("新增成功");
                    clearInput();

                    if (totalItems % itemPerPage == 0) {                        
                        loadList(totalPages + 1);
                    } else {
                        loadList(totalPages);
                    }                    
                }
            }         
        });
    }

    function editItem() {

        if (validateSel() == 0) return;
        if (validateInput() == 0) return;

        var params = "?id=" + $("#toDoId").val() + "&Content=" + $("#Content").val()
            + "&UpdatedAt=" + $("#UpdatedAt").val()
            + "&Completed=" + $("#Completed").prop("checked");

        $.ajax({

            url: editItemUrl + encodeURI(params),
            type: 'POST',
            success: function (data) {

                if (data == 0) {
                    alert("修改失敗");
                }
                else {
                    alert("修改成功");
                    clearInput();
                    loadList(nowPage);
                }
            }
        });
    }

    function validateInput() {

        var ret = 1;

        $("#contentValMsg").html("");
        $("#updatedAtValMsg").html("");

        if ($.trim($("#Content").val()) == "") {

            $("#contentValMsg").html("請輸入 內容");
            ret = 0;
        }

        if ($("#UpdatedAt").val() == "") {

            $("#updatedAtValMsg").html("請輸入 日期與時間")
            ret = 0;
        }

        return ret;
    }

    function validateSel() {

        if ($("#toDoId").val() == "") {

            alert("請選擇待辦事項");
            return 0;
        }

        return 1;
    }

    function clearInput() {

        $("#toDoId").val("");
        $("#Content").val("");
        $("#UpdatedAt").val("");
        $("#Completed").val("");
    }

    function loadPagerIndex() {

        var pagerIdxContent = "<a href='javascript: void(0)' onclick='loadList(1)'><<</a>     ";

        if (totalPages >= 6) {

            if (nowPage >= 4 && nowPage <= (totalPages - 3)) {

                pagerIdxContent += " ... ";

                for (let i = nowPage - 2; i <= nowPage + 2; i++) {
                    if (nowPage == i) pagerIdxContent += "<span style='font-size:1.5em'>"
                    pagerIdxContent += "<a href='javascript: void(0)' onclick='loadList(" + i + ")'>" + i + "</a>     ";
                    if (nowPage == i) pagerIdxContent += "</span>"
                }

                pagerIdxContent += " ... ";

            } else if (nowPage >= 4) {

                pagerIdxContent += " ... ";

                for (let i = totalPages - 4; i <= totalPages; i++) {
                    if (nowPage == i) pagerIdxContent += "<span style='font-size:1.5em'>"
                    pagerIdxContent += "<a href='javascript: void(0)' onclick='loadList(" + i + ")'>" + i + "</a>     ";
                    if (nowPage == i) pagerIdxContent += "</span>"
                }

            } else if (nowPage <= (totalPages - 3)) {

                for (let i = 1; i <= 5; i++) {
                    if (nowPage == i) pagerIdxContent += "<span style='font-size:1.5em'>"
                    pagerIdxContent += "<a href='javascript: void(0)' onclick='loadList(" + i + ")'>" + i + "</a>     ";
                    if (nowPage == i) pagerIdxContent += "</span>"
                }

                pagerIdxContent += " ... ";
            }     

        } else {

            for (let i = 1; i <= totalPages; i++) {
                if (nowPage == i) pagerIdxContent += "<span style='font-size:1.5em;'>"
                pagerIdxContent += "<a href='javascript: void(0)' onclick='loadList(" + i + ")'>" + i + "</a>     ";
                if (nowPage == i) pagerIdxContent += "</span>"
                if (totalPages == i) break;
            }
        }

        pagerIdxContent += "<a href='javascript: void(0)' onclick='loadList(" + totalPages + ")'>>></a>     ";

        $("#pagerIdx").html(pagerIdxContent);
    }

</script>

@using (Html.BeginForm("TodoList", "Home", FormMethod.Post))
{
<div class="form-horizontal">

    <hr />

    <input type="hidden" id="toDoId" />

    <div class="form-group">
        @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
            <span class="field-validation-valid text-danger" id="contentValMsg"></span>     
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UpdatedAt, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UpdatedAt, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
            <span class="field-validation-valid text-danger" id="updatedAtValMsg"></span>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Completed, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Completed)
            @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="修改" id="btnEdit" class="btn btn-primary" />
            <input type="button" value="新增" id="btnCreate" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<table id="showToDoList" class="table"></table>
<div id="pagerIdx"></div>
